body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* .card {
  padding: 10px;
} */

.card .card-body {
  padding: 1.5rem;
  border: none;
  max-width: 20rem;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
  border-radius: 2em;
  background-color: #ffffff;
}

.card .card-body .img-holder img {
  border-radius: 20px;
  max-width: 100%;
}
.card .card-body .content-box {
  margin: 1rem;
  text-align: center;
  font-size: 1rem;
}

.card .card-body .content-box h1 {
  font-size: 1.2rem;
}
.card .card-body .content-box p {
  font-size: 1rem;
  color: gray;
}
